<mat-toolbar>
  <span class="text-center">Asignacion</span>
</mat-toolbar>
<ul class="list-group">
  <li class="list-group-item" [formGroup]="filtroViajesForm">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Conductor</label>
          <select class="form-control" formControlName="conductor_id">
            <option *ngFor="let c of conductores | async" [ngValue]="c.id">{{ c.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Fecha Salida</label>
          <input type="date" class="form-control" formControlName="fecha_inicio">
        </div>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4"></div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-8" *ngIf="current_location">
        <agm-map [latitude]="current_location.lat" [longitude]="current_location.lng">
          <agm-marker *ngFor="let v1 of viajes" [latitude]="v1.origen.lat" [longitude]="v1.origen.lng" (markerClick)="showViajesCentro(v1)"  [visible]="v1.visible"></agm-marker>
          <ng-template [ngIf]="origen && destino">
            <agm-direction [origin]="origen.location" [destination]="destino.location" [visible]="mostrar_direcciones"></agm-direction>
          </ng-template>
        </agm-map>
      </div>
      <div class="col-md-4" *ngIf="mostrar_viajes">
        <h4 *ngIf="origen">Origen</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngIf="origen">
            <asig-origen [origen]="origen" (cerrarOrigen)="cerrarOrigen($event)"></asig-origen>
          </li>
          <h4 *ngIf="selectedViajes.length > 0">Destinos</h4></ul>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let sv of selectedViajes">
            <asig-destino [destino_id]="sv.destino_id" (elegirDestino)="mostrarRuta($event)" (cerrarDestino)="cerrarDestino($event)"></asig-destino>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
