.usuarios-card {
	padding-left: 40px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;


}

.card-editar {
	padding-right: 25%;
	padding-left: 25%;

}

.text-center{
	color: white;
}



.mat-header-row {
 background-color: rgb(245, 245, 245);
}

.table-panel {
 background-color: rgb(245, 245, 245);

}
.mat-toolbar{
	background-color: #337ab7;
}


.navbar {
  position: solid;
}
