td,
th {
  vertical-align: middle !important;
}

.left,
.right {
  float: left;
  height: 100vh;
}

.left {
  background: rgb(25, 33, 43);
  display: inline-block;
  white-space: nowrap;
  position: fixed;
  width: 50px;
  top: 0px;
  z-index: 1;
}

.center {
  background: #fff;
  border-style: block;
  border-color: #ccc;
  border-width: 1px;
  position: solid;
  margin-left: 50px;
}




.left .glyphicon {
  margin: 15px;
  width: 20px;
  color: #fff;
}

.right .glyphicon {
  color: #a9a9a9;
}

span.glyphicon.glyphicon-refresh {
  font-size: 17px;
  vertical-align: middle !important;
}

.item {
  height: 50px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}


.fan-icon {
    margin: 15px;
    width: 20px;
    color: white;
}
