.bs-callout {
  padding: 5px;
  margin: 5px 0;
  border: 3px solid #eee;
  border-left-width: 15px;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.bs-callout-info h4 {
  color: #1b809e;
}

agm-map {
  height: 200px;
}
