<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-4 control-label">Empresa</label>
    <div class="col-md-8">
      <div class="input-group" *ngIf="empresa">
        <input type="text" class="form-control" [value]="empresa.nombre" readonly>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="origen">
    <label class="col-md-4 control-label">Origen</label>
    <div class="col-md-8">
      <input type="text" class="form-control" [value]="origen.nombre" readonly>
    </div>
  </div>
</div>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary"><span class="
glyphicon glyphicon-remove" aria-hidden="true" (click)="cerrar()"></span></button>
  <button type="button" class="btn btn-primary" (click)="lgModal.show()"><span class="glyphicon glyphicon-info-sign"></span></button>
</div>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{origen.nombre}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <asig-centro [centro]="origen"></asig-centro>
      </div>
    </div>
  </div>
</div>
