<div class="bs-callout bs-callout-info" id="callout-type-dl-truncate">
  <div class="row info">
    <div class="col-md-12" [formGroup]="camionForm">
      <h4>Tipo Camion</h4>
      <select class="form-control" formControlName="tipo_camion">
        <option *ngFor="let c of tipos_camiones" [ngValue]="c.id">{{ c.nombre }}</option>
      </select>
      <h4>Dimesiones de Tarima</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <input type="number" class="form-control" placeholder="largo" formControlName="largo">
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="number" class="form-control" formControlName="ancho" placeholder="Ancho">
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="number" class="form-control" formControlName="altura" placeholder="Alto">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <input type="number" class="form-control" formControlName="cantidad" placeholder="Cantidad">
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="number" class="form-control" placeholder="Peso" formControlName="peso">
          </div>
        </div>
      </div>
      <h4>Presupuesto</h4>
      <input type="number" class="form-control" formControlName="presupuesto">
    </div>
  </div>
</div>
<canvas #canvasEl width="1000" height="400"></canvas>
<div class="bs-callout bs-callout-info" id="callout-type-dl-truncate">
  <h4>Peso</h4>
  <div class="row" *ngIf="camion">
    <div class="col-md-6 form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Peso Total</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [value]="camion.peso" readonly>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Peso Consumito</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [value]="peso_consumido" readonly>
        </div>
      </div>
    </div>
  </div>
  <h4>Dimesiones de Camion</h4>
  <div class="row" *ngIf="camion">
    <div class="col-md-6 form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Altura</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [value]="camion.altura/ factor" readonly>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Ancho</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [value]="camion.ancho/ factor" readonly>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-horizontal" *ngIf="camion">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Largo</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [value]="camion.largo / factor" readonly>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-horizontal">
    </div>
  </div>
</div>
<button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
