<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-4 control-label">Destino</label>
    <div class="col-md-8">
      <div class="input-group" *ngIf="destino">
        <input type="text" class="form-control" [value]="destino.nombre" readonly>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Presupuesto</label>
    <div class="col-md-8">
      <div class="input-group" *ngIf="destino">
        <input type="number" class="form-control" [value]="presupuesto" readonly>
      </div>
    </div>
  </div>
</div>
<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="cerrar()"><span class="glyphicon glyphicon-remove"></span></button>
  <button type="button" class="btn btn-primary" (click)="elegir()"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></button>
  <button type="button" class="btn btn-primary" (click)="openModal(template_destino)"><span class="glyphicon glyphicon-info-sign"></span></button>
</div>
<ng-template #template_destino>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{destino.nombre}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <asig-centro [centro]="destino"></asig-centro>
  </div>
</ng-template>
