<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">Empresa</label>
    <div class="col-md-10">
      <div class="input-group" *ngIf="empresa">
        <input type="text" class="form-control" [value]="empresa.nombre" readonly>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="origen">
    <label class="col-md-2 control-label">Origen</label>
    <div class="col-md-10">
      <div class="input-group">
        <input type="text" class="form-control" [value]="origen.nombre" readonly>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" aria-label="Help"><span class="glyphicon glyphicon-question-sign"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary"><span class="
glyphicon glyphicon-remove" aria-hidden="true" (click)="cerrar()"></span></button>
</div>
